.container {
  width: 60%;
  height: 60%;

  position: absolute;
  top: 15%;
  left: 25vw;
}

#wrap {
  width: 12vw;
  overflow: hidden;
  border-radius: 0 10px 0px 0;
  position: relative;
}
#navlink h1 {
  font-size: 30px;
  /* padding-right: 10px; */
}
#navlink {
  /* border: solid; */
  /* border-color: white; */

  background-color: rgb(248, 217, 160);
  color: #919191;
  height: 8vh;
  z-index: -1;

  border-radius: 10px 0 0 0;
  /* transform: skew(-25deg) translate(12%, 0px); */
  /* border-right: 15px solid transparent; */
}

.leftmove0 {
  /* transform: translate(-5%); */
}

.leftmove1 {
  /* transform: translate(-30%); */
}

.leftmove2 {
  /* transform: translate(-60%); */
}

.leftmove3 {
  /* transform: translate(-90%); */
}

.leftmove4 {
  /* transform: translate(-120%); */
}

/* 선택 되었을 때 */

.leftmove0_2 {
  /* transform: translate(-5%); */
  z-index: 2;
}

.leftmove1_2 {
  /* transform: translate(-30%); */
  z-index: 2;
}

.leftmove2_2 {
  /* transform: translate(-60%); */
  z-index: 2;
}

.leftmove3_2 {
  /* transform: translate(-90%); */
  z-index: 2;
}

.leftmove4_2 {
  /* transform: translate(-120%); */
  z-index: 2;
}

.content {
  /* 60vw - 12vw * 120% */
  width: 48vw;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: 0.5fr 60px 2fr;
  row-gap: 5px;
  background-color: #f1a661;
  border-radius: 0 0 15px 15px;
}

.content {
  font-size: 30px;
}

.content .writelayer {
  background-color: #fff7e9;
  border-radius: 15px;

  overflow-y: scroll;
  padding: 10px;
}

:root {
  --bg-color: rgba(255, 255, 255, 0.952);
  --bg-transparent: rgba(255, 255, 255, 0);
  --border-color: #7a7b7d;
}

.note {
  background: white;
  overflow-y: scroll;
  padding: 8px 10px;
  margin: 3% 1%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px gray;

  background-attachment: local;
  font-size: 20px;
  line-height: 2em;
  /* border: 2px solid var(--border-color); */
  background-image: -webkit-linear-gradient(
    top,
    var(--border-color) 0%,
    var(--border-color) 2px,
    var(--bg-transparent) 2px,
    var(--bg-transparent) 100%
  );
  background-image: linear-gradient(
    to bottom,
    var(--border-color) 0%,
    var(--border-color) 2px,
    var(--bg-transparent) 2px,
    var(--bg-transparent) 100%
  );
  background-size: 100% 2em;
}

.note > p {
  margin: 0;
  padding: 0 4px;
}

.note::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
  background-clip: content-box;
}

.note::-webkit-scrollbar-thumb {
  height: 10px; /* 스크롤바의 길이 */
  background: rgba(235, 219, 172, 0.8); /* 스크롤바의 색상 */

  border-radius: 10px;
}

.submitlayout {
  
  display: flex;
  justify-content: right;
  align-items: right;
  text-align: center;
}

.submiticon{
  width: 70px;
  height: 70px;
  
  transform: translate(0,25px);
  transition-property: all;
  transition-duration: 0.5s;
}
.submiticon:hover{
  width: 80px;
  height: 80px;
  transform: translate(10px,5px);
}



.owllayout {
  display: flex;
  justify-content: left;
  align-items: left;
}
.owl {
  position: relative;
  width: 100px;
  transition-property: all;
  transition-duration: 0.5s;
  z-index: 32;
}

/* .owl:hover{
  width: 80px;
  
  transform: translate(-10px,-15px);
} */
/* 아래의 모든 코드는 영역::코드로 사용 */

.content .writelayer::-webkit-scrollbar {
  display: none;
}

#ReadButton {
  position: absolute;
  right: 26vw;
  bottom: 5%;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.781);
  background-color: #704f4f;
  border-color: #704f4f;
  box-shadow: 3px 5px 0 #472d2d;
}

#ReadButton:hover {
  background-color: rgba(117, 87, 53, 0.938);
}

.ta1,
.ta2,
.ta3,
.ta4 {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  z-index: 2;
}

.q1,
.q2,
.q3,
.q4 {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.ondisplay {
  display: block;
}

.zindex {
  z-index: 31;
}

.ProgressContainer {
  position: absolute;
  width: 60%;
  top: 3%;
  
  transform: translate(30%, 0);
  padding: 0px 20px;
  border-radius: 30px;
  box-sizing: border-box;
  background: #704f4f;
  box-shadow: 5px 5px 0 #472d2d;
  transition-property: all;
  transition-duration: 2s;
}


.ProgressContainer ul {
  position: relative;
  padding: 0;
  list-style: none;
  width: 100%;
  transform: translate(0,40%);
  display: grid;
  grid-template-columns: 2fr 8fr;
}
.ProgressContainer div{
  font-size: 25px;
  color:rgba(255, 255, 255, 0.781);
  
  transform: translate(0,-7px);
}
.ProgressContainer li {
  background-color: #fff;
  height: 20px;
  border-radius: 10px;
  
  
}

.bar {
  position: absolute;
  border-radius: 10px;
  background-color: #D0EF84;
  height: 20px;
  top:0;
  left:20%;

  transition-property: all;
  transition-duration: 2s;
  
}

.bar_img{
  position: absolute;
  top:0;
  left:20%;
  transform: translate(-50%,-50%);
  z-index: 100;
  width:50px;
  transition-property: all;
  transition-duration: 2s;
}

.backbutton > button{
  position: absolute;
  right: 3%;
  top: 3%;
  /* transform: translate(-100%, -50%); */
  height: 60px;
  width: 150px;
  min-height: 50px;
  color:rgba(255, 255, 255, 0.781);
  background-color: #704f4f;
  box-shadow: 3px 5px 0 #472d2d;
}

#leftButton,
#rightButton {
  position: fixed;

  color: rgb(81, 80, 80);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

#leftButton:hover,
#rightButton:hover {
  color: rgb(81, 80, 80);
  background-color: rgba(32, 31, 31, 0.1);
  border: 0;
}

#leftButton {
  top: 50%;
  left: 2%;
}
#rightButton {
  top: 50%;
  right: 2%;
}


@media (max-width: 1300px) {
  #navlink h1 {
    font-size: 20px;
  }
  .content {
    font-size: 25px;
  }
}
