.container {
  width: 60vw;
  height: 60vh;

  position: absolute;
  top: 15%;
  left: 25vw;
}

#wrap {
  width: 12vw;
  overflow: hidden;
  border-radius: 0 10px 0px 0;
  position: relative;
}
#navlink h1 {
  font-size: 30px;
  padding-right: 10px;
}
#navlink {
  /* border: solid; */
  /* border-color: white; */

  background-color: rgb(248, 217, 160);
  color: #919191;
  height: 8vh;
  z-index: -1;

  border-radius: 10px 0 0 0;
  transform: skew(-25deg) translate(12%, 0px);
  border-right: 15px solid transparent;
}

.leftmove0 {
  transform: translate(-5%);
}

.leftmove1 {
  transform: translate(-30%);
}

.leftmove2 {
  transform: translate(-60%);
}

.leftmove3 {
  transform: translate(-90%);
}

.leftmove4 {
  transform: translate(-120%);
}

/* 선택 되었을 때 */

.leftmove0_2 {
  transform: translate(-5%);
  z-index: 2;
}

.leftmove1_2 {
  transform: translate(-30%);
  z-index: 2;
}

.leftmove2_2 {
  transform: translate(-60%);
  z-index: 2;
}

.leftmove3_2 {
  transform: translate(-90%);
  z-index: 2;
}

.leftmove4_2 {
  transform: translate(-120%);
  z-index: 2;
}

.content {
  /* 60vw - 12vw * 120% */
  width: 45.6vw;
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-rows: 0.5fr 60px 2fr ;
  row-gap: 5px;
  background-color: #f1a661;
  border-radius: 0 0 15px 15px;
}

.content {
  font-size: 30px;
}

.content .writelayer {
  background-color: #fff7e9;
  border-radius: 15px;
  
  overflow-y: scroll;
  padding: 10px;
}

.content .notes {
  font-size: 25px;

  /* font-size: 0.9em; */
  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(
      white,
      white 2em,
      #ccc 2em,
      #ccc 2.1em,
      white 2.1em
    );
  line-height: 2em;
  padding: 8px 10px;
  margin: 3% 1%;
  border-radius: 20px;
  /* box-shadow: 5px 5px 5px gray; */
}


.submitlayout{
  display: flex;
  justify-content: right;
  align-items: right;
}
.submiticon{
  width: 50px;
  height: 50px;
  transform: translate(0,20px);
  transition-property: all;
  transition-duration: 0.5s;
}
.submiticon:hover{
  width: 80px;
  height: 80px;
  transform: translate(10px,-15px);
}

.owllayout{
  display: flex;
  justify-content: left;
  align-items: left;
}
.owl {
  position: relative;
  width: 100px;
  transition-property: all;
  transition-duration: 0.5s;
}
/* .owl:hover{
  width: 80px;
  
  transform: translate(-10px,-15px);
} */
/* 아래의 모든 코드는 영역::코드로 사용 */

.content .writelayer::-webkit-scrollbar {
  display: none;
}





