.App {
  text-align: center;
}



body{
  font-family: 'Miwonfont';
  background: #FFF7E9;
  word-break: keep-all;
}

@font-face {
  font-family: "Miwonfont";
  src: url("./fonts/미원Miwon.otf");
}


.nav-link.active {
  box-shadow: 3px 3px 5px #808080;
  color:rgb(95, 94, 94) !important;
  background-color: #F1A661 !important;
  
}

#header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
}

