
#ReadButton{
    color: black;
    background-color: rgb(146, 66, 66);
    border-color: rgb(218, 221, 224);
}

#ReadButton:hover{
    background-color: rgb(117, 53, 53);
}



.selected{
  color:rgb(146, 66, 66);
    /* color:#61dafb; */
  }
  
.nonSelected{
background-color: #FFD384;
}
  
#dropdownItemButton{
    color: black;
    font-weight: bold;
    background-color: white;
    border-color: rgb(218, 221, 224);
}
#itembutton:active{
  background-color: rgb(167, 167, 167);
}

.bookImage{
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  .bookhr{
    background-color: brown;
    height: 15px;
    border: 1px solid brown;
    border-radius: 20px;
    margin-top: 1px;
    
  }
  :root {
    --bg-color: rgba(255, 255, 255, 0.952);
    --bg-transparent: rgba(255, 255, 255, 0);
    --border-color: #7a7b7d;
  }
  

  .book{
    
    bottom: 6px;
    right:0px;
    background: white;
    border-radius: 32px 4px 4px 32px;
    box-shadow: inset 4px 6px 0px 0px #E4E0CE;  
    background-image: linear-gradient(to bottom, transparent 6px, #E4E0CE 8px, transparent 10px, transparent 12px, #E4E0CE 12px, transparent 14px, transparent 18px,#E4E0CE 18px, transparent 20px, transparent 24px, #E4E0CE 24px, transparent 26px, transparent 30px, #E4E0CE 30px, transparent 32px, transparent 36px, #E4E0CE 36px, transparent 38px, transparent 42px, #E4E0CE 42px, transparent 44px, transparent 48px, #E4E0CE 48px, transparent 50px,transparent 52px,#E4E0CE 54px, transparent 56px, transparent 60px, #E4E0CE 62px, transparent 64px,transparent 66px, #E4E0CE 68px, transparent 70px,transparent 73px, #E4E0CE 76px, transparent 79px,transparent 81px, #E4E0CE 85px, transparent 87px);     
    /* background-image: linear-gradient(to bottom, transparent 0% 1% #E4E0CE 2% 3% transparent 3% 4%); */
    background-repeat: repeat;
 

  }

  .bg{
    
    flex-direction: column;
    justify-content: center;
    /* margin: -8px; */
  }
  
  .book1{
    position: relative;
    height:30px;
    width:140px;
    border: 5px solid #942343;
    margin-left:1vw;
    border-radius: 10px 0 0 10px;
    border-right-style: none;
    background: #fffff0;  
  }
  
  .bookCut{ 
    background: #a0d8ef;
    margin: 0 0 0 97%;
    width: 5px;
    height: 30px;
  }
  
  .ribbon1{
    height:25px;
    width:20px;
    background: #ff785b;
    position: absolute;
    margin: 12px 0 0 10px;
  }
  
  .book2{
    position: relative;
    height:40px;
    width:120px;
    margin-left:2vw;
    background: #a688bd;  
  }
  
  .ribbonCut1{
    position: absolute;
    margin: 5px 0 0 2px;
    border-left: 0px solid #ff785b;
      border-right: 10px solid transparent;
      border-top: 12px solid #ff785b;
  }
  
  .ribbonCut2{
    position: absolute;
    margin: 5px 0 0 12px;
    border-left: 10px solid transparent;
      border-right: 0px solid #ff785b;
      border-top: 12px solid #ff785b;
  }
  
  .ribbonCut3{
    position: absolute;
    margin: 0 0 0 2px;
    height: 5px;
    width: 20px;
    background: #ff785b;
  }
  
  .book2:before,
  .book2:after{
    content: "";
    position: absolute;
  }
  
  .book2:before{
    height: 40px;
    width: 60px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book2:after{
    background: white;
    margin: 5% 0 0 15%;
    width: 30px;
    height: 20px;
  }
  
  .book3{
    position: relative;
    height:30px;
    width:140px;
    border: 5px solid #004d25;
    margin-left:2vw;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
    
  }
  
  .bookCut3{ 
    background: #a0d8ef;
    width: 5px;
    height: 30px;
  }
  
  .ribbon3{
    height:25px;
    width:20px;
    position: absolute;
    background: #a4d5bd;
    margin: 10px 0 0 100px;
  }
  
  .book4{
    position: relative;
    height:35px;
    width:160px;
    margin-left:1vw;
    background: #ed6d35;  
  }
  
  .book4:before,
  .book4:after{
    position: absolute;
    content: "";
  }
  
  .book4:before{
    height: 35px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book4:after{
     background: white;
    margin: 4% 0 0 -25%;
    width: 40px;
    height: 20px;
  }
  
  .ribbonCut4{
    position: absolute;
    margin: 5px 0 0 127px;
    border-left: 0px solid #a4d5bd;
      border-right: 10px solid transparent;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut5{
    position: absolute;
    margin: 5px 0 0 137px;
    border-left: 10px solid transparent;
      border-right: 0px solid #a4d5bd;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut6{
    position: absolute;
    margin: 0 0 0 127px;
    height: 5px;
    width: 20px;
    background: #a4d5bd;
  }
  
  .book5{
    position: relative;
    height:40px;
    width:145px;
    margin-left:0.5vw;
    background: #0073a8;  
  }
  
  .book5:before,
  .book5:after{
    position: absolute;
    content: '';
  }
  
  .book5:before{
    height: 40px;
    width: 80px;
    left: 12px;
    border-left: 20px double #fff;
    border-right: 20px double #fff;
  }
  
  .book5:after{
     background: white;
    margin: 5% 0 0 29%;
    width: 30px;
    height: 20px;
  }
  
  .book6{
    position: relative;
    height:30px;
    width:165px;
    border: 5px solid #622d18;
    margin-left:0.5vw;
    border-radius: 0 10px 10px 0;
    border-left-style: none;
    background: #fffff0;
    
  }
  
  
  .bookCut6{ 
    background: #a0d8ef;
    width: 5px;
    height: 30px;
  }
  
  .ribbon6{
    height:25px;
    width:20px;
    position: absolute;
    background: #a4d5bd;
    margin: 14px 0 0 105px;
  }
  
  .book7{
    position: relative;
    height:40px;
    width:200px;
    margin-left:0vw;
    /* margin-bottom: 3px; */
    background: #fcc800;  
  }
  
  .book7:before,
  .book7:after{
    position: absolute;
    content: "";
  }
  
  .book7:before{
    height: 40px;
    width: 98px;
    left: 10px;
    border-left: 20px double #fff;
  }
  
  .book7:after{
     background: white;
    margin: 4% 0 0 35%;
    width: 22px;
    height: 22px;
    border-radius: 12px;
  }
  
  .ribbonCut7{
    position: absolute;
    margin: 5px 0 0 125px;
    border-left: 0px solid #a4d5bd;
      border-right: 10px solid transparent;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut8{
    position: absolute;
    margin: 5px 0 0 135px;
    border-left: 10px solid transparent;
      border-right: 0px solid #a4d5bd;
      border-top: 12px solid #a4d5bd;
  }
  
  .ribbonCut9{
    position: absolute;
    margin: 0 0 0 125px;
    height: 5px;
    width: 20px;
    background: #a4d5bd;
  }






.pane {
    overflow-y: scroll;
    max-height: 450px;
  }
  
.pane::-webkit-scrollbar {
  display: none; 
}

.fixed1{
  transform: translate(10%,30%);

}


.speechBubble {
  
	position: relative;
	background: #ece5c6;
	border-radius: 50px;
  width: 100%;
  
  height: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  
  
}

.speechBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #ece5c6;
	border-bottom: 0;
	margin-left: -13px;
	margin-bottom: -13px;
}

.mymodal {
  width: 30vw; /* Occupy the 90% of the screen width */
  max-width: 50vw;
}

.mymodal div {
  border-radius: 30px;
  margin: 3px;
  border:0;
}

.bookmarkmodal{
  width:30vw;
}
.bookmarkmodal div {
  border-radius: 30px;
  margin: 3px;
  border:0;
}
.bookmarkbutton{
  transform: translate(-20%,0);
}
.bookmark{
  transition: all;
  transition-duration:0.3s ;
}

.bookmark:hover{
  transform: scale(1.2);
}

.searchicon{
  transform: translate(-30%,10%);
}