.card {
  border-radius: 50px;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);*/
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;  */
  box-shadow: rgba(188, 149, 120, 0.3) 0px 0px 0px 3px;
  width: 30vw;

  height: 300px;
  position: relative;
  padding: 1em 1.5em 1em 1.5em;

  display: grid;
  grid-template-rows: 1fr 1fr 6fr 1fr;
}
.card .profilebox{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .namebox{
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.card .imgbox{
  margin: 10px 10px;
  background-image: url("./img/profile1.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.card h2 {
  margin: 10px 0px;
  padding: 0 1rem;
}
.card .title {
  /* padding: 1rem; */
  text-align: right;
  color: #e36f6b;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 18px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 30px;
  height: 30px;
}

.button {
  border: none;
  background: none;
  font-size: 24px;
  color: #e17774;
  cursor: pointer;
  transition: 0.5s;
}
/* .button:hover {
  color: #a65845;
  transform: rotate(22deg);
} */

.layout {
  display: grid;

  grid-template-columns: 3fr 1fr;
  /* column-gap: 5vw; */
  height: 80%;
}
.layout .innerLayout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3%;
}

.innerinnerLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.statuslayout {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  column-gap: 50px;
  border-radius: 50px;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
  box-shadow: rgba(188, 149, 120, 0.3) 0px 0px 0px 3px;
}

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%);
}

.graphArea {
  width: 15vw;
  height: 300px;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}

.graphArea2 {
  width: 15vw;
  height: 300px;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}

.recentactivity {
  font-size: 25px;
  border-radius: 50px;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
  padding-bottom: 20px;
  box-shadow: rgba(188, 149, 120, 0.3) 0px 0px 0px 3px;
  width: 95%;
  height: 100%;
  transform: translate(4.6%,0);
}

.owlcustomlayout {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 97%;
  /* transform: translate(0, 15%); */
  background-image: url("./img/bg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 20px solid white; 
  border-radius: 50px;
  overflow: hidden;

  margin:30px 30px 0 ;
  
  box-shadow: 5px 5px 0px rgba(183, 130, 90, 0.3);
  
}

.owlcustomimg {
  width: 20vw;
  height: 40vh;
  background-image: url("./img/owl2_eye2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translate(0, 20%);
}
.btndiv{
  position: relative;
}
#ReadButton {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  background-color: rgb(146, 66, 66);
  border: none;
  border-color: rgb(218, 221, 224);
}

#ReadButton:hover {
  background-color: rgb(117, 53, 53);
}

#ReadButton:active {
  background-color: rgb(95, 45, 45);
}

.activitystatus:hover {
  color: #515151;
}

@media (max-width: 1550px) {
  .recentactivity {
    font-size: 20px;
  }
}
@media (max-width: 1220px) {
  .recentactivity {
    font-size: 18px;
  }
}


@media(max-width:1000px){
  .recentactivity {
    font-size: 15px;
  }
  .layout {
  /* display: grid;

  grid-template-columns: 3fr 1fr;

  height: 80%; */
}
.layout .innerLayout {
  /* display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3%; */
}

.innerinnerLayout {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

}